@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Orbitron:wght@500&family=Playfair:wght@600&family=Six+Caps&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@100;500&family=Orbitron:wght@500&family=Playfair:wght@600&family=Six+Caps&display=swap");

:root {
  --givre: rgb(221, 236, 241);
  --givreMiddle: rgba(221, 236, 241, 0.59);
  --givreLight: rgba(221, 236, 241, 0.528);
  --smoothGold: rgba(255, 228, 196, 0.72);
  --niceBlue: rgb(160, 228, 225);
  --color4: rgb(13, 13, 13);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
  margin: 0;
  min-width: 100vh;
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
}

a:link {
  text-decoration: none;
}

li {
  list-style: none;
}

button:hover {
  cursor: pointer;
}

header {
  /* background: black; */
  display: flex;
  flex-direction: column;
}

header button {
  position: absolute;
  right: 63px;
  top: 36px;
}

#mute {
  background: transparent;
  border: none;
  color: rgb(17, 55, 68);
  z-index: 2;
  display: flex;
  align-items: center;
  transition: 0.2s;
}

#mute:hover {
  transform: scale(1.1);
}

#muteBar {
  width: 100px;
  height: 22px;
  position: absolute;
  border-radius: 20px;
  top: 25px;
  right: -10px;
  background: var(--smoothGold);
}

.bloc-video {
  position: relative;
}

.welcomeVideo {
  position: relative;
  margin: auto;
  width: 100%;
  height: 420px;
  overflow: hidden;
  clip-path: 0 0;
}

/* .welcomePicture {
  height: 250px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  opacity: 1;
  z-index: 50;
} */

#introVideo {
  position: absolute;
  top: -28%;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
}

.infos-left {
  position: absolute;
  top: 245px;
  left: 40px;
  color: var(--givre);
}

header h1 {
  font-size: 5em;
  letter-spacing: 0.2em;
  font-weight: 300;
  font-family: "Six Caps", sans-serif;
  margin-bottom: 5px;
}

header p {
  font-size: 1.4em;
  color: var(--smoothGold);
  letter-spacing: 0.4em;
}

.infos-right {
  position: absolute;
  top: 340px;
  right: 110px;
  color: var(--givre);
}

#textAnim {
  color: rgba(255, 228, 196, 0.857);
  font-size: 1.1em;
}

.navWork {
  width: 100%;
  height: 80px;
  padding: 0 50px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.navWork ul {
  position: relative;
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin: 4px auto;
}

.navWork li {
  position: relative;
}
/* Utile à garder pour mes :after qui spont en absolute */

.navWork button {
  border: none;
  background: transparent;
  font-size: 2em;
  font-weight: 500;
  font-family: "Six Caps";
  letter-spacing: 0.15em;
}

#nav1 {
  background: var(--smoothGold);
}

.navWork button:hover {
  transform: scale(1.1);
}

.navWork button:active {
  transform: scale(1);
}

#nav1 button {
  color: black;
  transition: 0.3s;
}

#nav1 button:hover {
  color: var(--niceBlue);
}

#nav2 {
  background: rgba(0, 0, 0, 0.913);
}

#nav2 li {
  transform: translateX(2px);
}
/* Correction d'un petit décalage du batonnet vert, sans en trouver la cause */

#nav2 button {
  color: var(--smoothGold);
  transition: 0.3s;
}

#nav2 button:hover {
  color: var(--givre);
}

.workAccess {
  display: flex;
  flex-direction: column;
}

#afterWork {
  content: "";
  position: absolute;
  width: 5px;
  height: 40px;
  border-radius: 5px;
  background: rgb(142, 231, 142);
  transform: translate(-50%, -50%);
  margin: 0px auto;
  display: block;
  left: 50%;
  top: 150%;
}

.aboutAccess {
  display: flex;
  flex-direction: column;
}

#afterAbout {
  content: "";
  position: absolute;
  width: 5px;
  height: 40px;
  border-radius: 5px;
  background: transparent;
  transform: translate(-50%, -50%);
  margin: 0px auto;
  display: block;
  left: 50%;
  top: 150%;
}

.cinemaAccess {
  display: flex;
  flex-direction: column;
}

#afterCinema {
  content: "";
  position: absolute;
  width: 5px;
  height: 40px;
  border-radius: 5px;
  background: transparent;
  transform: translate(-50%, -50%);
  margin: 0px auto;
  display: block;
  left: 50%;
  top: 150%;
}

.wallAccess {
  display: flex;
  flex-direction: column;
}

#afterWall {
  content: "";
  position: absolute;
  width: 5px;
  height: 40px;
  border-radius: 5px;
  background: transparent;
  transform: translate(-50%, -50%);
  margin: 0px auto;
  display: block;
  left: 50%;
  top: 150%;
}

#afterFeatures {
  content: "";
  position: absolute;
  width: 5px;
  height: 40px;
  border-radius: 5px;
  background: rgb(142, 231, 142);
  transform: translate(-50%, -50%);
  margin: 0px auto;
  display: block;
  left: 50%;
  top: 150%;
}

#afterDocumentary {
  content: "";
  position: absolute;
  width: 5px;
  height: 40px;
  border-radius: 5px;
  background: transparent;
  transform: translate(-50%, -50%);
  margin: 0px auto;
  display: block;
  left: 50%;
  top: 150%;
}

#afterMore {
  content: "";
  position: absolute;
  width: 5px;
  height: 40px;
  border-radius: 5px;
  background: transparent;
  transform: translate(-50%, -50%);
  margin: 0px auto;
  display: block;
  left: 50%;
  top: 150%;
}

section {
  width: 100%;
  min-height: auto;
  height: auto;
  position: relative;
}

section ul {
  width: 100%;
  height: auto;
  position: relative;
}
#supraSection {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* #work{
  max-height : 100vh
} */

#workContainer {
  position: relative;
  background-color: rgba(0, 0, 0, 0.913);
  height: 100%;
}

.features {
  position: absolute;
  top: 0px;
  left: 0;
  background: black;
  width: 100%;
  height: 100%;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex : 1 1 50%; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "i1 i2"
    "i3 i4"
    "i5 i6";
  visibility: visible;
}
.features img {
  width: 100%;
  height: auto;
  object-fit: cover;
  left: 0;
  top: 0;
  position: relative;
  opacity: 0.7;
  /* transition: 0.2s; */
}

#juniors {
  grid-area: i1;
}
#brother {
  grid-area: i2;
}
#survivors {
  grid-area: i3;
}
#teddy {
  grid-area: i4;
}
#mic {
  grid-area: i5;
}
#shark {
  grid-area: i6;
}

.features li {
  width: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  /* transition: 0.2s; */
}

.features li:hover {
  /* background: rgba(255, 0, 0, 0.623); */
  opacity: 1;
}

.features li:hover img {
  opacity: 1;
}

.features figcaption {
  letter-spacing: 0.5vw;
  position: absolute;
  z-index: 15;
  margin: auto;
  top: 35%;
  left: 0;
  right: 0;
  text-align: center;
  /* transition: 0.2s; */
}

figcaption h3 {
  font-family: "Six Caps";
  font-size: 3vw;
  font-weight: 100;
  color: var(--givreMiddle);
  padding: 7px;
  /* color: rgba(250, 235, 215, 0.495); */
}

figcaption p {
  font-size: 1vw;
  color: rgba(255, 235, 205, 0.449);
}

.features li:hover figcaption {
  opacity: 0;
}

.documentary {
  position: absolute;
  top: 0px;
  left: 0;
  /* background: rgb(198, 160, 129); */
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: transparent;
  overflow: hidden;
  visibility: hidden;
}

.documentary li {
  position: relative;
  cursor: pointer;
}

.documentary img {
  width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 0.7;
  /* transition: 0.2s; */
}

#nekfeu {
  display: flex;
  flex-direction: column;
  padding: 3px 3px 2px 0px;
  /* z-index: 10000; */
}

.nekMinipic {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#raising {
  display: flex;
  flex-direction: column;
  padding: 3px 0px 2px 3px;
}

.raisongMain {
  position: relative;
}

.raisingMinipic {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.documentary figcaption {
  letter-spacing: 0.5vw;
  position: absolute;
  z-index: 15;
  margin: auto;
  top: 25%;
  left: 0;
  right: 0;
  text-align: center;
  /* transition: 0.2s; */
}

/* .documentary li img {
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  position: relative;
  opacity: 0.75;
  transition: 0.2s;
} */

.nekMinipic,
.raisingMinipic {
  transform: translateY(-3px);
}

.documentary li:hover figcaption {
  opacity: 0;
}

.documentary li:hover img {
  opacity: 1;
}

.andMore {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
  background: rgb(137, 166, 182);
  visibility: hidden;
}

.andMore li {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  /* transition: 0.2s; */
}

.andMore img {
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  position: relative;
  opacity: 0.85;
  /* transition: 0.2s; */
}

.andMore figcaption {
  letter-spacing: 0.5vw;
  position: absolute;
  z-index: 99;
  margin: auto;
  top: 35%;
  left: 0;
  right: 0;
  text-align: center;
  /* transition: 0.2s; */
}

.andMore figcaption h3 {
  font-family: "Six Caps";
  font-size: 3vw;
  font-weight: 100;
  color: rgb(99, 153, 182);
  padding: 7px;
  /* color: rgba(250, 235, 215, 0.495); */
}

.andMore figcaption p {
  font-size: 1vw;
  color: rgb(252, 229, 194);
}

#marona figcaption p {
  color: rgb(204, 80, 80);
  font-size: 1vw;
  font-weight: 800;
}

.andMore li:hover figcaption {
  opacity: 0;
}

.andMore li:hover img {
  opacity: 1;
}

#marona,
#theWay {
  border-right: 1px solid rgb(99, 153, 182);
}

#theWay,
#novarosa {
  transform: translateY(-3px);
}

#featureVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  z-index: 100;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#featureVideo video {
  width: 95%;
}

#featureVideo button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 101;
  font-size: 2rem;
  top: 0;
  right: 0;
  transform: translate(-20px, 15px);
}

.about {
  height: 50vh;
  position: relative;
  margin: 60px 0;
  background: url("https://res.cloudinary.com/dzq7b6tce/image/upload/v1689458278/Projet_SoundDesigner/OnceUponATime/Ann%C3%A9e%20du%20Requin/Image_18-06-2023_%C3%A0_17.39_nbbezq.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -140px;
  overflow: hidden;
}

#aboutText {
  width: 75%;
  position: absolute;
  top: 15%;
  font-weight: 500;
  font-size: 0.8em;
  font-family: "Lato";
  color: rgba(255, 228, 196, 0.845);
  letter-spacing: 0.1em;
  background-color: rgba(42, 39, 36, 0.452);
  padding: 20px;
  backdrop-filter: blur(2px);
}

#aboutText span {
  font-family: "Six Caps";
  letter-spacing: 0.25em;
  font-size: 2.2em;
  color: rgb(247, 244, 238);
}

#imdb {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

#imdb img {
  height: 50px;
}

.cinematographer {
  width: 100%;
  background: black;
  font-family: "Six Caps";
  letter-spacing: 0.1em;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
}

.bg-director {
  width: 100%;
  position: relative;
}

.bg-director {
  height: 5vh;
  position: relative;
  display: flex;
}

.about-director {
  width: 100%;
  font-size: 1.2em;
  font-weight: 400;
  color: var(--smoothGold);
  display: flex;
  justify-content: center;
  align-items: center;
}

.elias-container {
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}

.infos-Elias {
  width: 100%;
  background: var(--givre);
}

#eliasText {
  background: var(--smoothGold);
  font-family: "Lato";
  font-size: 0.8em;
}

.elias-picture {
  width: 100%;
}

#allPictures {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.elias-picture img {
  width: 100%;
}

.elias-container a {
  display: flex;
  justify-content: center;
  background: transparent;
}

#watchElias {
  display: flex;
  justify-content: center;
  text-align: center;
  background: var(--givre);
  border: none;
  font-size: 1.2;
  font-weight: bold;
  padding: 5px;
  border-radius: 8px;
  transition: 0.2s;
}

#watchElias:hover {
  transform: scale(1.1);
}

#watchElias:active {
  transform: scale(0.9);
}

#wallContainer {
  height: 50vh;
  background: rgba(219, 219, 92, 0.612);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: bold;
  color: red;
  margin: 500px 0;
}

#back {
  position: absolute;
  right: 10px;
  transform: translateY(-15px);
}

#back button {
  height: 40px;
  width: 40px;
  border-radius: 250px;
  border: none;
}

#back button:hover {
  background: red;
}
